body{
    font-family: 'Montserrat', sans-serif;
}

h4{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

i{
    margin-bottom: 0px;
    padding: 0px;
}

.heading i {
    float: left;
    padding-left:8px;
}
