body{
    font-family: 'Montserrat', sans-serif;
}

h4{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

i{
    margin-bottom: 0px;
    padding: 0px;
}

.heading {
    padding-top: 1.5em;
    padding-left:25px;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
}

.bedcard{
    width: 160px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.6);
    background-image: linear-gradient(to right, #373B44 , #4286f4);
    
}

.cardbody{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 70%;
    border-radius: 10px;
}

.leftdiv{
    background: #fff;
    padding-top: 5px;

}

p strong a{
    font-size: 30px;
}

a{
    text-decoration: none;
}

.rightdiv{
    
    padding-top: 15px;
    padding-right: 20px;
}
