body{
    font-family: 'Montserrat', sans-serif;
}

.headd {
    padding-top: 1.5em;
    padding-left:25px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    color: #71bce7;
}



h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    margin: 0px;
    font-size: 12px;
    float: right;
    color: #71bce7;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.week{
    border-bottom: 1px solid #777;
}

.flexnames{
    display: flex;
    padding-top: 15px;;
}

.weekname{
    flex: 1;
}

.spans{
    flex: 1;
}

.bedcard{
    width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-auto-rows: 20px;
    grid-auto-columns: minmax(50px, auto);
    padding: 1.5em;
    border-bottom: 1px solid #ddd;
}

a{
    text-decoration: none;
}