body{
    font-family: 'Montserrat', sans-serif;
}

.headd {
    padding-top: 1.5em;
    padding-left:25px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    color: #71bce7;
}



h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4{
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card{
    width: 200px;
    transition: 0.4s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.6);
    height: 260px;
    margin: 15px;
    border-radius: 16px;
    
}

.card-header{
    padding: 8px;
    display: flex;
}

.heading{
    display: flex;
}

.head-icon{
    padding:2px;
}



.card-body{
    display: block;
    width:100%;
    height: 150px;
}

.cardbody-wraper{
    padding-left: 35%;
    padding-top: 10%;
}

.stats{
    display: flex;
}

.card-footer{
    padding: 8px;
    display: flex;
    text-align: center
   
}

.footer-wraper{
    border-right: 1px solid #777;
}